# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so
*.log
*.sqlite3
*.db
*.dat
*.csv
*.tsv
*.bak
*.swp
*.swo
*.tmp
*.temp
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.vscode/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/